# Intall Python By Viewing This Link https://www.python.org/downloads/

# Then Install Django By

pip install django

# Then Install Stripe And Add PUBLISHABLE_API_KEY Into Checkout_Cart.js

pip install stripe
