<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="{% static 'images/brand-logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>
        .background-image{
            background-image: url("{% static 'images/bg-login.jpg' %}"); 
        }
    </style>

    <title>Login To ShopMart</title>
</head>
<body>
    <div class="background-image"></div>
    <div class="login-container">
        <h1 class="login-heading">
            <span>Welcome</span> Back
        </h1>
        <p class="login-description">
            Welcome! Please login to continue.
        </p>

        {% if messages %}
            <div class="message">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form class="login-form" method="post"> {% csrf_token %}
            <div>
                <label for="username" class="login-label">Username</label>
                <input class="login-input" type="text" id="username" placeholder="Enter your Username" required name="username"/>
            </div>
            <div class="login-field">
                <label for="password" class="login-label">Password</label>
                <input class="login-input" type="password" id="password" placeholder="Enter your password" required name="password"/>
                <i class="ri-eye-off-line login-eye" id="toggle-icon"></i>
            </div>
            <div class="login-actions">
                <button class="login-button">Login</button>
            </div>
            <a class="login-forgot" href="{% url 'register' %}">Don't Have An Account?</a>
        </form>
    </div>
    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>