<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="{% static 'images/brand-logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <style>
        .background-image{
            background-image: url("{% static 'images/bg-register.jpg' %}"); 
        }
    </style>

    <title>Register To ShopMart</title>
</head>
<body>
    <div class="background-image"></div>
    <div class="login-container">
        <h1 class="login-heading">
            <span>Create</span> Account
        </h1>
        <p class="login-description">
            Please fill in the details to register.
        </p>

        {% if messages %}
            <div class="message">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form class="login-form" method="post"> {% csrf_token %}
            <div>
                <label for="username" class="login-label">Username</label>
                <input class="login-input" type="text" id="username" placeholder="Enter your Username" required name="username"/>
            </div>
            <div>
                <label for="first_name" class="login-label">First Name</label>
                <input class="login-input" type="text" id="first_name" placeholder="Enter your First Name" required name="first_name"/>
            </div>
            <div>
                <label for="last_name" class="login-label">Last Name</label>
                <input class="login-input" type="text" id="last_name" placeholder="Enter your Last Name" required name="last_name"/>
            </div>
            <div>
                <label for="email" class="login-label">Email</label>
                <input class="login-input" type="email" id="email" placeholder="Enter your Email" required name="email"/>
            </div>
            <div class="login-field">
                <label for="password" class="login-label">Password</label>
                <input class="login-input" type="password" id="password" placeholder="Enter your password" required name="password"/>
                <i class="ri-eye-off-line login-eye" id="toggle-icon"></i>
            </div>
            <div class="login-actions">
                <button class="login-button">Register</button>
            </div>
            <a class="login-forgot" href="{% url 'login' %}">Already have an account? Log In</a>
        </form>
    </div>
    <script src="{% static 'js/register' %}">
    </script>
</body>
</html>